<!DOCTYPE html>
<html> 
    <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" /> 
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <meta name="google" value="notranslate"> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">   
        <title><%= title %></title>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script language="javascript" type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/jquery.validate.min.js"></script>
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.10.0/localization/messages_es.js"></script>
        <link rel="stylesheet" href="/stylesheets/tagsinput.css">
        <script>
            $(document).ready(function () {
                /*
                 * criterio: "todos"
                    texto: "sn"                    
                 */
                var url = "http://localhost:666/api/buscar_paciente";
                var crietrio = 'todos';
                var texto = 'sn';
                $.ajax({
                    url: url,
                    data: 'criterio='+crietrio+'&texto='+texto,
                    success: function (data, textStatus, jqXHR) {
                        console.log(data);
                    }, error: function (jqXHR, textStatus, errorThrown) {
                        
                    }
                });
            });
        </script>
    </head> 
    <body> 
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><%= title %></a>
                </div>

                <% if(typeof sesion == 'undefined' || (typeof sesion != 'undefined' && !sesion)) { %>
                <div id="navbar" class="navbar-collapse collapse">


                    <form class="navbar-form navbar-right" method="POST" action="/inicio_sesion">
                        <% if(typeof msg != 'undefined') { %>
                        <% if(typeof msg.error != 'undefined' && msg.error.length > 0) { %>
                        <div class="form-group">
                            <div class="label label-danger" style="font-size: 8px">
                                <%= msg.error %>
                            </div>                        
                        </div>                  
                        <% } %>
                        <% if(typeof msg.info != 'undefined' && msg.info.length > 0) { %>
                        <div class="form-group">
                            <div class="label label-success" style="font-size: 8px">
                                <%= msg.info %>
                            </div>                        
                        </div>                  
                        <% } %>
                        <% } %>
                        <div class="form-group">
                            <input type="text" placeholder="Correo" class="form-control" name="correo">
                        </div>
                        <div class="form-group">
                            <input type="password" placeholder="Clave" class="form-control" name="clave">
                        </div>
                        <button type="submit" class="btn btn-success">Iniciar sesion</button>
                        <a href="/registro" class="btn btn-danger">Registrate</a>
                    </form>
                </div>
                <% } else { %>
                <div id="navbar" class="navbar-collapse collapse navbar-right">
                    <a href="/administracion/pacientes" class="btn btn-primary btn-sm">Pacientes</a>
                    <a href="/" class="btn btn-primary btn-sm">Consultas</a>
                    <a href="/cerrar_sesion" onclick="return confirm('Esta seguro de cerrar sesion?')" class="btn btn-danger btn-sm">Cerrar sesion</a>
                </div>
                <% } %>
            </div>
        </nav> 
        <% if(typeof sesion == 'undefined' || (typeof sesion != 'undefined' && !sesion)) { %>
        <div class="jumbotron">
            <div class="container">
                <h1>Hello, world!</h1>
                <p>
                    This is a template for a simple marketing or informational website. It includes a large callout
                    called a jumbotron and three supporting pieces of content. Use it as a starting point to create
                    something more unique.
                </p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>Section 1</h2>
                    <p>Some information for section 1</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Section 2</h2>
                    <p>Some information for section 2 </p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Section 3</h2>
                    <p>Some information for section 1</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>
            <% } else { %>
            <div class="jumbotron">
                <%- include(andrea) %>
            </div>      
            <% }  %>
            <hr>

            <footer>
                <p>&copy; My App 2015</p>
            </footer>
        </div> <!-- /container -->


    </body>
</html>
